@font-face {
    font-family: Orchidee;
    src: url("OrchideeMedium.ttf");
}

html, body {
    font-family: Orchidee, sans-serif; /*Specify your font name here*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;
    min-height: 100%;
}

main {
  padding-top: 70px;
  padding-bottom: 30px;
}


