.btn-up {
  padding-right: 10px;
}
.btn-list {
  margin-bottom: 5px;
}
.btn:focus {
  box-shadow: none;
}
.btn:active:focus {
  box-shadow: none;
}
.btn-CD {
  width: 32px;
}
.btn-modal-atq {
  padding-bottom: 10px;
}
th, td {
  padding: .4rem!important;
}
html {
  position: relative;
  min-height: 100%;
}

main {
  padding-top: 70px;
  padding-bottom: 30px;
}

.jumbotron {
  padding-top: 30px!important;
}

.col-9 {
  padding-bottom: 70px!important;
} 

#modalRoll .modal-body {
  padding-bottom: 0px;
}

.modal-footer {
  padding: 0px; 
  border-top: 0px;
}

#modalRoll .input-group-text {
  background-color: #ffc107;
  border-color: #ffc107;
}

#RollMin, #RollMax {
  border-color: #ffc107;
}

.modal-footer .btn {
  border-radius: 0px; 
  border-bottom-left-radius: .25rem; 
  border-bottom-right-radius: .25rem;
}

#modalrandomdebuff .modal-footer, #modalrandombuff .modal-footer {
  display: none;
}

#modalrandomdebuff .modal-body, #modalrandombuff .modal-body {
  padding: 0px;
}

#modalrandomdebuff .btn, #modalrandombuff .btn{
  display: block;
  width: 100%;
}

