html, body {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;
    min-height: 100%;
}

main {
  padding-top: 70px;
  padding-bottom: 30px;
}

h1 {
  font-weight: 300;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

h1[class |=valeur] {
    font-size: 5em;
    color: #333;
}

h4 {
	text-transform: uppercase;
}

.col-md {
	margin:auto;
}


